__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.venv/
venv/

data/
datasets/
BDD100K/
archive/
archivemask/

runs/
yolo_runs/
bdd_bisenetv2_runs/
fusion_results/
outputs/

*.pt
*.pth
*.onnx
*.engine

*.log
.DS_Store
Thumbs.db
